<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link href="css/styles.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/2c1bb557eb.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <section class="header_top">
        <img src="img/logo-mercado-liebre.svg" alt="Logo" />
        <div class="header-input">
          <input placeholder="Buscar productos, marcas" />
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <h2>
          <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
          tarjeta de crédito
        </h2>
      </section>
      <nav class="header-nav">
        <ul class="site" type="none">
          <li class="cuerpo-texto"><a href="">Ofertas</a></li>
          <li class="cuerpo-texto"><a href="">Tiendas Oficiales</a></li>
          <li class="cuerpo-texto"><a href="">Vender</a></li>
          <li class="cuerpo-texto"><a href="">Ayuda</a></li>
        </ul>
        <ul class="login-navbar" type="none">
          <li>
            <a href="registro">Creá tu cuenta</a>
            <i class="fa-solid fa-id-card"></i>
          </li>
          <li>
            <a href="login">Ingresá</a>
            <i class="fa-solid fa-right-to-bracket"></i>
          </li>
          <li>
            <a href="">Mis compras</a>
            <i class="fas fa-shopping-cart"></i>
          </li>
        </ul>
        <div class="menuburger">
          <div class="burger-menu">
            <i class="fas fa-bars"></i>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <form class="formulario-login" action="/">
        <input
          class="Datalogin"
          type="text"
          placeholder="Nombre de usuari@"
          required
        />
        <input
          class="Datalogin"
          type="password"
          placeholder="Contraseña"
          required
        />
        <button class="enviar-login" type="submit">Enviar</button>
      </form>
    </main>
    <footer>
      <div class="footer-section-caja">
        <section class="footer-section">
          <i class="fa-solid fa-credit-card fa-2xl"></i>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </section>
        <section class="footer-section">
          <i class="fa-solid fa-gift fa-2xl"></i>
          <h3>Envío gratis desde $2.500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </section>
        <section class="footer-section">
          <i class="fa-solid fa-user-shield fa-2xl"></i>
          <h3>Seguridad, de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </section>
      </div>
      <div>
        <section class="footer-section-copyright">
          <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </section>
      </div>
    </footer>
  </body>
</html>
