footer {
  background-color: white;
  text-align: center;
  justify-content: center;
  margin: 0px 5px;
  padding: 5px;
}

.footer-section {
  margin: 10px;
}

.fa-xl {
  font-size: 2em;
}
.fa-user-shield,
.fa-gift,
.fa-credit-card {
  color: var(--color-skyblue);
  margin-inline-end: 10px;
  font-size: 2em;
  margin-top: 70px;
  margin-bottom: 30px;
}

.footer-section p {
  font-size: 14px;
  font-family: "roboto";
  margin-top: 0;
}

.footer-section h5 {
  font-size: 12px;
  font-weight: normal;
  padding: 10px 10px;
  text-align: start;
}
