footer {
  background-color: white;
  text-align:start;
  justify-content: space-around;
  margin: 0px 5px;
  padding: 5px;
 display: flex;
 flex-direction: column;

}
.footer-section-caja{
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.footer-section {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-xl {
  font-size: 2em;
}
.fa-user-shield,
.fa-gift,
.fa-credit-card {
  color: var(--color-skyblue);
  margin-inline-end: 10px;
  font-size: 2em;
  margin-top: 70px;
  margin-bottom: 30px;
 
}

footer i:hover{
  color: var(--color-green);
}

.footer-section p {
  font-size: 14px;
  font-family: "roboto";
  margin-top: 0;
  text-align:center;
 
 
}

.footer-section-copyright{
  font-size: 12px;
  font-weight: normal;
  padding: 10px 10px;
  text-align: start;
}




