header {
  background-color: var(--color-yellow);
  padding: 10px;
}
header img {
  width: 45%;
}

.header_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.header-input {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 50%;
}

header input {
  margin-left: 5px;
  width: 100%;
  padding-right: 10%;
}

.header-input button{
  position: absolute;
  left: 90%;
  border: none;
  background-color: transparent;
}

header h2 {
  margin: 10px 0;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  justify-content: center;
}
.login-navbar i {
  margin-left: 5px;
}
.menuburger {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.burger-menu {
  color: white;
  background-color: var(--color-skyblue);
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 7px;
}
